{% extends 'base.html' %}
{% block title %}
    Learn {{ deck_name }}
{% endblock %}

{% block content %}
    <div class="card_list">
        {% for card in cards %}
            <div class="card" hidden="hidden">
                <a href="{{ url_for('card_editor', card_id=card.id) }}">Edit card</a>
                <div class="front">
                    {{ card.front }}
                </div>
                <br>
                <button onclick="showAnswer({{ card.id }})">Show answer</button><br><br>
                <div class="back" id="back{{ card.id }}" hidden>

                    {{ card.back }}<br><br>
                    <button class="mark danger" onclick="sendResult(0, {{ card.id }})">AGAIN</button>
                    <button class="mark danger" onclick="sendResult(1, {{ card.id }})">UNREAL</button>
                    <button class="mark danger" onclick="sendResult(2, {{ card.id }})">HARD</button>
                    <button class="mark" onclick="sendResult(3, {{ card.id }})">NORMAL</button>
                    <button class="mark" onclick="sendResult(4, {{ card.id }})">GOOD</button>
                    <button class="mark" onclick="sendResult(5, {{ card.id }})">EASY</button>
                </div>
            </div>

        {% else %}
            <h1>Nothing to learn ;)</h1>
            <a href="{{ url_for('index') }}">Come back to decks</a>
        {% endfor %}
        <div id="learning-complete" hidden="hidden">
            <h1>Perfect!</h1>
            You reviewed {{ cards | length }}!
            <a href="{{ url_for('index') }}">Come back to decks</a>
        </div>
    </div>
    <script src="{{ url_for('static', filename='learn.js') }}"></script>
{% endblock %}