{% extends 'base.html' %}

{% block title %}
    {{ deck_name or "All Cards" }}
{% endblock %}

{% block content %}
    <h1>{{ deck_name or "All Cards" }}</h1>
    <a href="{{ url_for('card_editor', deck_name=deck_name) }}" class="action">
        <span class="material-symbols-outlined">add</span>New card</a>
    <table>
        <tr>
            {% if not deck_name %}
                <th>Deck</th>
            {% endif %}
            <th>Front</th>
            <th>Next review</th>
            <th></th>
        </tr>
        {% for card in cards %}
            <tr>
                {% if not deck_name %}
                    <td>{{ card.deck_name }}</td>
                {% endif %}
                <td>{{ card.front }}</td>
                <td>{{ card.next_review }}</td>
                <td>
                    <a class="action" href="{{ url_for('card_editor', card_id=card.id) }}"><span
                            class="material-symbols-outlined">edit</span></a>
                    <a class="action danger" onclick="deleteCard({{ card.id }})" href=""><span
                            class="material-symbols-outlined">delete</span></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3" style="text-align: center">No cards :(</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}