<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
    <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>
        {% block title %}
            Meme
        {% endblock %}
    </title>
</head>
<body>
    <nav>

        <a class="action" href="{{ url_for('index') }}">Home</a>
        <a class="action" href="{{ url_for('all_cards') }}">All cards</a>

    </nav>
    <div class="surface">
    {% block content %}
        Empty :(
    {% endblock %}
    </div>

    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>