{% extends 'base.html' %}
{% block title %}
    {{ "Edit card " + card_id |string if card_id else "New card" }}
{% endblock %}
{% block content %}
    <h1>{{ "Edit card #" + card_id |string if card_id else "New card" }}</h1>
    {% if deck_name %}
        <a class="action" href="{{ url_for('view_deck', deck_name=deck_name) }}">Go to {{ deck_name }} deck.</a>
    {% endif %}
    <form action="{{ url_for('card_editor') }}" method="POST" id="edit_card_form">
        <label for="deck_name">
            Deck: <br>
            <select name="deck_name" id="deck_name">
                <option disabled {{ "selected" if not deck_name }}>Choose deck</option>
                {% for deck in decks %}
                    <option {{ "selected" if deck.name == deck_name }} value="{{ deck.name }}">{{ deck.name }}</option>
                {% endfor %}
            </select>
        </label><br><br>
        <input type="hidden" name="card_id" value="{{ card_id }}">
        <input type="hidden" name="front" id="front-form" value="{{ front }}">
        <input type="hidden" name="back" id="back-form" value="{{ back }}">

        Front:
        <div contenteditable="true" class="field" id="front" oninput="onEditorInput()">

        </div>
        <br>
        Back:
        <div contenteditable="true" class="field" id="back" oninput="onEditorInput()">

        </div>
        <br>
        <button form="edit_card_form"><span class="material-symbols-outlined">save</span>Save</button>
    </form>
    Preview:
    <iframe id='preview' src="{{ url_for('card_preview', front='', back='') }}" width="100%" height="640px"
            style="background: #aaaaaa">
        Ваш браузер не поддерживает плавающие фреймы!
    </iframe>
    <script src="{{ url_for('static', filename='editor.js') }}"></script>
{% endblock %}