:root {
    --background: #aaaaaa;
    --surface-bg: lightgray;
    --surface-fg: black;
    --primary-bg: #4db6ac;
    --primary-light: #63d7cb;
    --primary-fg: black;
    --error-color: #e57373;
    --error-light: #ffa4a2;

}

body {
    padding: 0 2em;
    max-width: 75%;
    margin: auto;
    background: var(--background);
}

.surface {
    background: var(--surface-bg);
    color: var(--surface-fg);
    padding: 1em;
}
div#content {
    min-height: 60%;
}
nav {
    background: var(--primary-bg);
    color: var(--primary-fg);
    font-size: 1.5em;
}

span.material-symbols-outlined {
    vertical-align: middle;
}

.action, input[type='button'], input[type='submit'], button{
    color: var(--primary-fg);
    text-decoration: none;
    background: var(--primary-bg);
    border: none;
    display: inline-block;
    padding: 5px 5px;
}

button {
    font-family: inherit;
    font-size: 1em;
}
a.action:hover, input[type='button']:hover, input[type='submit']:hover{
    background: var(--primary-light);
}

.danger {
    background: var(--error-color);
}
.danger:hover {
    background: var(--error-light);
}

table {
    margin: 1em 0;
    border-spacing: 0;
    border: 1px solid black;
}

td, th {
    padding: .5em;
    border: 1px black solid;
}
abbr {
    text-decoration: none;
}
form {
    margin: 1em 0;
}
div.field {
    background: var(--surface-bg);
    width: 100%;
    font-family: monospace, sans-serif;
    border-bottom: var(--background) solid 2px;
}
div.field:focus, select:focus{
    outline: none;
    border-bottom: var(--primary-bg) solid 2px;
}
select {
    background: var(--surface-bg);
    border:none;
    font-family: monospace, sans-serif;
    font-size: 1em;
    border-bottom: var(--background) solid 2px;

}

iframe {
    border: none;
}

hr {
    border: none;
    color: black;
    background: var(--surface-bg);
    height: 2px;
    margin: .4em 1em;
}
footer {
    background: #555555;
    color: white;
    padding: 1em;
}

footer a{
    color: white;
}
@media screen and (max-width: 1000px) {

    body {
        padding: 0;
        max-width: 100%;
    }
}