:root {
    --background: #aaaaaa;
    --surface-bg: lightgray;
    --surface-fg: black;
    --primary-bg: #4db6ac;
    --primary-light: #63d7cb;
    --primary-fg: black;
    --error-color: #e57373;
    --error-light: #ffa4a2;

}

body {
    padding: 0 2em;
    max-width: 75%;
    margin: auto;
    background: var(--background);
}

.surface {
    background: var(--surface-bg);
    color: var(--surface-fg);
    padding: 1em;
}
div#content {
    min-height: 60%;
}
nav {
    background: var(--primary-bg);
    color: var(--primary-fg);
    font-size: 1.5em;
}

a.action, input[type='button'], input[type='submit']{
    color: var(--primary-fg);
    text-decoration: none;
    background: var(--primary-bg);
    border: none;
    display: inline-block;
    padding: 5px 15px;
    margin: 5px 0;
}
a.action:hover {
    background: var(--primary-light);
}
a.danger {
    background: var(--error-color);
}
a.danger:hover {
    background: var(--error-light);
}

table {
    margin: 1em 0;
    border-spacing: 0;
    border: 1px solid black;
}

td, th {
    padding: .5em;
    border: 1px black solid;
}

form textarea {
    resize: vertical;
    width: 100%;
    height: 6em;
}

input.mark {
    max-width: 16%;
}
footer {
    background: #555555;
    color: white;
    padding: 1em;
}

footer a{
    color: white;
}
@media screen and (max-width: 1000px) {

    body {
        padding: 0;
        max-width: 100%;
    }
}